#nav-trigger { position: absolute; top: 0; left: 0; z-index: 990000; clip: rect(0, 0, 0, 0); }
label[for="nav-trigger"] {
  float: left;
  display: block;
  position: absolute;
  left: 0;
  top: 135px;
  -webkit-transform: rotate(-90deg);
  padding: 30px 20px;
  cursor: pointer;
  z-index:990000;
}
#nav-trigger + label { transition: left 0.2s; }
#nav-trigger:checked + label { left: 20%; }
#nav-trigger:checked ~ #container { box-shadow: 0 0 20px 1px rgba(0,0,0,0.5); left: 20%; }
nav {  }
nav ul { list-style-type: none; margin: 0; padding: 20px; }
nav ul li { display: inline; padding: 20px 30px; }
nav ul li:hover { background-color: #f9f9f9; }
nav ul li.active { background-color: #f9f9f9; }
nav ul li a { text-decoration: none; color: #34495e; }
aside {
  background: url(http://subtlepatterns.com/patterns/pw_maze_black.png);
  background: url(http://subtlepatterns.com/patterns/cartographer.png);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 20%;
  z-index: 0;
}
#sub-nav { width: 100%; }
nav ul li ul {
  display: none;
  /*color: black;*/
  margin: 10px 0px 0px -20px;
  text-transform: none;
}
nav ul li:hover ul {
  display: list-item;
  background-color: white;
  position: absolute;
}
nav ul, nav ol {
  text-indent: 0em;   
  list-style-position: inherit;
}
nav ul, ul.info{
 display:list-item;
 text-align: -webkit-match-parent;
}
#cadet-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
#cadet-nav li {
  background: rgb(37, 37, 37);
  border-bottom: 1px solid rgb(42, 42, 42);
  color: white;
  height: 20px;
  line-height: 20px;
  padding: 10px;
  width: 100%;
}
#cadet-nav li.active { background: rgb(40, 40, 40); }
#cadet-nav li:hover { background: rgb(40, 40, 40); }
#cadet-nav li a { color: white; text-decoration: none; }