html { font-family: Lato, Helvetica, Arial, sans; max-width: 100%; overflow-x: hidden; }
body { margin: 0; padding: 0; text-align: center; width:100%; }
ul { margin: 0; padding: 0; }
header { padding-top: 15px; }
#sub-header {
  background: url(../img/outsideNJIT.jpg);
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
  box-shadow: inset 0 0 20px 1px rgba(0,0,0,0.5);
  height: 150px;
  padding: 0;
  text-align: left;
  text-indent: 140px;
}
#sub-header ~ nav { margin-top: 0; }
#sub-header h2 {
  color: white;
  font-size: 60px;
  display: inline;
  line-height: 150px;
  margin: 0;
  text-shadow: 1px 1px 10px black;
}
#sub-header img {
  left: 20px;
  position: absolute;
  top: 24px;
}
.pt-header { background-image: url(../img/airforcept.jpg)!important; }
.academic-header { background-image: url(../img/books.jpg)!important; }
.scholar-header { background-image: url(../img/scholarship.jpg)!important; }
.rip-header { background-image: url(../img/parade.JPG)!important; background-position: 0px 530px!important; }
.addl-header { background-image: url(../img/ft.jpg)!important; background-position: 0px 450px!important; }
.llab-header { background-image: url(../img/llab.jpg)!important; background-position: 0px 350px!important; }
.about-header { background-image: url(../img/f117.jpg)!important; }
.unit-header { background-image: url(../img/unit.jpg)!important; }
#logo { width: 150px; margin: auto auto; }
#container {
  background-color: white;
  bottom: 100%;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: relative;
  top: 0;
  transition: left 0.2s;
  z-index: 1;
}


#callout {
  background: url(https://encoregeneration.files.wordpress.com/2011/01/img_13421.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 400px;
}
#callout h1 {
  color: white;
  font-size: 80px;
  line-height: 250px;
  margin: 0;
  text-shadow: 1px 1px 10px black;
}
#callout h2 {
  color: white;
  font-size: 40px;
  line-height: 0px;
  margin: 0;
  text-shadow: 1px 1px 10px black;
  letter-spacing: 9px;
  margin-top: -50px;
}
#homepage ul { list-style-type: none; }
#callout p {
  color: white;
  font-size: 20px;
  margin: 0 auto;
  max-width: 50%;
  position: relative;
  text-align: center;
  text-shadow: 1px 1px 10px black;
  bottom: -50px;
}
#pt li{ list-style-type: none; }
#llab li{ list-style-type: none; }
#activities li{ list-style-type: none; }
#activities article { display: inline-block; width: 45%; }
#activities article p { padding: 0 20px; }
#activities article { vertical-align: text-top; }
#about { margin: 0 auto; max-width: 75%; }
#info { width: 100%; }
#info article { display: inline-block; margin: 10px; width: 31%; }
#cadre { width: 100%; }
#cadre > p { margin: 0 auto; max-width: 50%; }
#cadre article { display: inline-block; margin: 10px; vertical-align: text-top; width: 19%; }
#cadre article img { border-radius: 50%; width: 150px; }
#about-info article { margin: 0 auto; width: 70%; }
#about-info article.callout { display: inline-block; margin: 20px; vertical-align: text-top; width: 30%; }
#pt article { margin: 0 auto; width: 70%; }
#pt article.callout { display: inline-block; margin: 20px; vertical-align: text-top; width: 30%; }
#llab article { margin: 0 auto; width: 70%; }
#llab article.callout { display: inline-block; margin: 20px; vertical-align: text-top; width: 30%; }
#x-town article { display: inline-block; margin: 10px; width: 15%; }
#academics article { display: inline-block; width: 38%; }
#academics article p { padding: 0 20px; }
#academics article { vertical-align: text-top; }
#warrior article { display: inline-block; width: 45%; }
#warrior article p { padding: 0 20px; }
#warrior article { vertical-align: text-top; }
#llab2 article { display: inline-block; width: 45%; }
#llab2 article p { padding: 0 20px; }
#llab2 article { vertical-align: text-top; }
#llab2 li{ list-style: none;}
#pt2 article { display: inline-block; width: 45%; }
#pt2 article p { padding: 0 20px; }
#pt2 article { vertical-align: text-top; }
#pt2 li{ list-style: none;}
#as_class article { display: inline-block; width: 45%; }
#as_class article p { padding: 0 20px; }
#as_class article { vertical-align: text-top; }
#as_class li{ list-style: none;}
#scholar { margin:0 auto; max-width: 70%; }
#additional { margin: 0 auto; width: 65%; }
#additional ul { text-align: left; }
#additional ul li { margin: 5px; }
#join article { display: inline-block; vertical-align: text-top; width: 30%; }
#login-home article { display: inline-block; vertical-align: text-top; width: 40%; }
#login-home ul { list-style-type: none; }
article.callout ul { margin: 0; padding: 0; }
article.head { display:block!important; margin: 0 auto; width: 60%!important; }
#activities { margin: 0 auto; max-width: 70%; }
#calendar { padding: 0 250px; }
.fc-day-number { height: 70px; }
.fc-today { background: #f1c40f!important; }
.icons { font-weight: bold!important; margin-right: 5px; }
footer {
  background-color: #2c3e50;
  color: white;
  height: 250px;
  /*text-align: left;*/
  font-weight: lighter;
}
figure.photo{
	display: flex;
	flex-direction: row;
  margin: 5px 5px 5px 0px;
}
figure.photo img{
    width: 200px;
    padding-right: 15px;
}
img.imgwrap{
    width: 200px;
    padding: 0px 15px 10px 0px;
    float: left;
}
div#imgslider {
    margin: 20px auto;
}
footer a { color: #fdfdfd; }
footer section { display: inline-block; margin: 10px; width: 30%; padding: 10px; vertical-align: text-top; }
footer section ul { padding: 0; margin: 0; }
footer section ul li { font-size: 14px; list-style-type: none; }
#small-foot { background-color: #34495e; display: block; width: 100%; height: 100px; margin:0; padding:0; }
#map { height: 300px; }
